01-Files/
venv/
.env
logs/*
!logs/.gitkeep
temp/*
!temp/.gitkeep
temp/checkpoints/*
!temp/checkpoints/.gitkeep
temp/current/*
!temp/current/.gitkeep
temp/history/*
!temp/history/.gitkeep
temp/results/*
!temp/results/.gitkeep
temp/uploads/*
!temp/uploads/.gitkeep
output/*
!output/.gitkeep
output/json/*
!output/json/.gitkeep
.devcontainer/
.vscode/
__pycache__/
instructions/instructions.md
